<% content_for :body_class, 'bg-light' %>

<section class="hero is-warning">
 <div class="hero-body">
  <div class="container">
    <div class="title">
      <P>映画化された</P>
      <h1>BOOKS INTRODACTION</h1>
    </div>
    <h1><%= @product.title %></h1>
    <ul class="pv1">
      <% if @product.model? %>
        <li class="inline-block"><%= @product.model %></li>
      <% end %>

      <% if @product.novel? %>
        <li class="inline-block"><%= @product.novel %></li>
      <% end %>

      <% if @product.finish? %>
        <li class="inline-block"><%= @product.finish %></li>
      <% end %>

      <% if @product.price? %>
        <li class="inline-block"><%= @product.price %></li>
      <% end %>

      <%= image_tag(@product.image_url(:default))%>

      <li class="inline-block"><%= @product.description %></li>
    </ul>
    
  </div>

  <%= link_to 'Product List', products_path(@product) %>
  <br>
  <%= link_to 'Edit', edit_product_path(@product)%>
  <%= button_to 'Add to cart',line_items_path(product_id: @product), class: 'button is-warning add-to-cart' %>
 </div>
</section>
